/* App Specific CSS */
.header-title h1 {
  margin: 20px 0 10px;
}

.dog-detail {

  .pic {
    float: left;
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
  }
  h3 {
    margin-top: 10px;
  }
}



table.table {
  thead th {
    text-align: center;
  }
  td.number {
    text-align: right;
  }
}

