<div class="header-title row-fluid">
    <h1><i class="fa fa-search"></i> DogSpot</h1>
</div>
<!-- Start Nav -->
<div class="row-fluid">
    <div class="span12">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Dog Spot!</a>
                <ul class="nav">
                    <li class="dropdown active">
                        <a href="/my/" class="dropdown-toggle" data-toggle="dropdown">
                            Find My Dog
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/my/1">Buttons</a></li>
                            <li><a href="/my/2">Fluffy</a></li>
                        </ul>
                    </li>
                    <li><a href="/dogs/new">Report Dog</a></li>
                    <li><a href="/dogs/">My Dogs Sitings</a></li>
                    <li><a href="/leader">Leader Board</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Nav -->
