<div class="container">
    <div class="row-fluid">
        <form role="form" action="">
            Need to add the following: Size, Color, Breed(s), Location Spotted/Found, Time Spotted/Found
            <div class="form-group">
                <label for="size">
                    Size:
                </label>
                <select name="size" class="form-control">
                    <option value="0">Tiny</option>
                    <option value="1">Small</option>
                    <option value="2">Medium</option>
                    <option value="3">Large</option>
                    <option value="4">Extra Large</option>
                </select>
                <span class="help-block">Would be nice to have pictures to help determine the difference between small and medium.</span>
            </div>

            <div class="form-group">
                <label for="color">
                    Color:
                </label>
                <select name="color" class="form-control">
                    <option value="brown">Brown</option>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                </select>
                <span class="help-block">Colors have specific meanings in some breeds. And mean different things than normal colors.  Red for example is more of a light brownish color in some breeds.</span>
            </div>

            <div class="form-group">
                <label for="breed">
                    Breed:
                </label>
                <!-- Limit options based on size. -->
                <select name="breed" class="form-control">
                    <option value="unknown">Don't Know</option>
                    <option value="jrt">Jack Russel Terrier</option>
                    <option value="gsd">German Shepherd</option>
                </select>
                <span class="help-block">Limit options based on size +/- 1 size.</span>
            </div>
            <div class="form-group">
                <label for="breed2">
                    Breed 2 (Optional for mixed breeds):
                </label>
                <!-- Limit options based on size. -->
                <select name="breed2" class="form-control">
                    <option value="jrt">Jack Russel Terrier</option>
                    <option value="gsd">German Shepherd</option>
                </select>
                <span class="help-block">Only provide if they indicate mixed breed.</span>
            </div>
            <div class="form-group">
                <label for="location">
                    Location Spotted/Found:
                </label>
                <input type="text" name="location" placeholder="Locations" class="form-control" value="">
                <span class="help-block">Location Spotted.  Should accept address & long/latitude & more vague answers.</span>
            </div>
            <div class="form-group">
                <label for="time">
                    Time and Day Spotted:
                </label>
                <input type="datetime" name="time" placeholder="Time and Day" class="form-control" value="">
                <span class="help-block">Time and Date spotted.</span>
            </div>
        </form>
    </div>
</div>