<div class="container">


    <div class="row-fluid">
        <h1>DogSpot</h1>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span6">
            <a href="/dogs/new" class="btn btn-primary btn-large">Found a Dog</a>
        </div>
        <div class="span6">
            <a href="dogs/" class="btn btn-primary btn-large">Lost a Dog</a>
        </div>
    </div>

    <hr>

    <div class="row-fluid">
        <h3>Recent Dogs</h3>
        <ul>
{{#dogs}}
            <li>
                <div><strong>{{name}}</strong>: {{description}}</div>
                <div>{{#each characteristics}}<strong>{{@key}}</strong>:{{this}}, {{/each}}</div>
            </li>
{{/dogs}}
        </ul>
    </div>

</div>
