<div class="container">


    <div class="row-fluid">
        <h1>DogSpot</h1>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span6">
            <a href="/dogs/new" class="btn btn-primary btn-large">Found a Dog</a>
        </div>
        <div class="span6">
            <a href="dogs/" class="btn btn-primary btn-large">Lost a Dog</a>
        </div>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span6">
            <h3>Tell us about your lost dog</h3>
        </div>
        <div class="span6">
            <h3>Recently Spotted Dogs</h3>
            <ul class="dog-list">
{{#dogs}}
                <li>
                    <div><strong>{{name}}</strong>: {{description}}</div>
                    <ul class="dog-attributes">
                        {{#each characteristics}}<li><strong>{{capitalize this.attribute}}</strong>:{{this.value}}</li>{{/each}}
                    </ul>
                </li>
{{/dogs}}
            </ul>
        </div>
    </div>

</div>
